<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
  <title>博客管理</title>
</head>
<body>

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(0)"></nav>

  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" class="item">发布</a>
        <a href="#" class="teal active item">列表</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui success message large">
        <h3>HI</h3>
        <p>LOGIN,SUCCESS</p>
      </div>
      <img src="https://unsplash.it/1000/400?image=1005" alt="" class="ui rounded bordered fluid image">
    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments::footer"></footer>

  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

  </script>
</body>
</html>