<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
  <title>About</title>
</head>
<body>

  <!--导航-->
  <nav th:replace="_fragments::menu(5)"></nav>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">

      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment">
            <img src="http://114.55.147.153/image/blog/2020/03/130-800x450.jpg" alt="" class="ui rounded image">
          </div>
        </div>
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">关于我</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">Q</p>
            <p class="m-text">...</p>
          </div>
          <div class="ui attached segment">
            <div class="ui orange basic left pointing label">I</div>
            <div class="ui orange basic left pointing label">am</div>
            <div class="ui orange basic left pointing label">so</div>
            <div class="ui orange basic left pointing label">vegetable</div>
          </div>
          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">我</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">好</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">菜</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">啊</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">啊</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
          </div>
          <div class="ui bottom attached segment">
            <a href="#" class="ui qq circular icon button" data-content="没有" data-position="bottom center"><i class="qq icon"></i></a>
            <a href="#" class="ui weixin circular icon button" data-content="也没有" data-position="bottom center"><i class="weixin icon"></i></a>
            <a href="#" class="ui github circular icon button" data-content="还没有" data-position="bottom center"><i class="github icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.png" th:src="@{/static/images/wechat.png}" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>
      </div>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments::footer"></footer>

  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
      popup : $('.wechat-qr'),
      position: 'bottom center'
    });
    $('.qq').popup();
    $('.github').popup();
    $('.weixin').popup();

  </script>
</body>
</html>